.container
  .camera
    = link_to image_tag('カメラ.png'), new_post_path , class: 'camera_icon'
  .timeline_container
  = render 'commons/posts'

  = link_to '全ての投稿一覧へ', posts_path, class: 'devise_link'
  %br
  = link_to 'フォローしているアカウントの投稿一覧へ', timeline_path , class: 'devise_link'
  %br

  - if user_signed_in?
    = link_to 'ログアウト', destroy_user_session_path, class: 'devise_link link_login'
  - else 
    = link_to 'ログイン', new_user_session_path, class: 'devise_link link_login'


  
