.container
  .account_header
    .back_icon
      = link_to image_tag('矢印.png'), :back
    
    .follow_btn
      - if user_signed_in?
        - if current_user&.has_followed?(@user)
          = link_to 'Unfollow', account_unfollows_path(@user), data: {method: 'post'}, class: 'follow_btn'
        - else
          = link_to 'Follow', account_follows_path(@user), data: {method: 'post'}, class: 'follow_btn'
  .account_username
    = @user.username
  .acount_avatar
    = image_tag @user.avatar_image, class: 'profile_usericon'
    
  .account_status
    .post_count
      .figure-1
        %p= @user.posts.count
      %p.status-text Posts
    .following_count
      = link_to account_followings_path(@user) do
        .figure-2
          %p= @user.following_count
        %p.status-text following
    .follower_count
      = link_to account_followers_path(@user) do
        .figure-3
          %p= @user.follower_count
        %p.status-text Followers

  .img-container-top
    - @user.posts.each do |post|
      - post.images.each do |image|
        .img-container
          = image_tag image, class: 'box'


